@font-face { font-family: "Aptos Display"; src: url('documents/aptos-display.ttf'); }
    @font-face { font-family: "Aptos Bold"; src: url('documents/aptos-display-bold.ttf'); }
    body {
        background-color: #202020;
        margin: 0;
        display: block;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
        width: auto;
    }

    header {
        padding: 20px;
        width: auto;
        position: relative;
        top: 0;
    }

    #header-image {
        display: block;
        margin: auto;
        width: 35%;
    }
    .row {
      display: flex;
    }

    .column {
      flex: 50%;
      padding: 5px;
    }

    #text-box {
        margin: 0px;
        padding-right: 270px;
        padding-left: 270px;
        padding-bottom: 30px;
        border: none;
        font-size: 25px;
        font-family: "Aptos Display";
        text-align: justify;;
        color: #E3E3E3;}

    #text-box-top {
        margin: 0px;
        padding-right: 200px;
        padding-left: 200px;
        padding-bottom: 30px;
        border: none;
        font-size: 25px;
        font-family: "Aptos Display";
        text-align: center;
        color: #E3E3E3;}

    #text-box-sm {
        margin: 0px;
        padding-right: 150px;
        padding-left: 150px;
        padding-bottom: 30px;
        border: none;
        font-size: 25px;
        font-family: "Aptos Display";
        text-align: center;
        color: #E3E3E3;}

    #text-box-title {
        border: none;
        font-size: 40px;
        font-family: "Aptos Bold";
        text-align: center;
        color: #E3E3E3;}


    #text-box-title-top {
        border: none;
        padding-top: 15px;
        font-size: 40px;
        font-family: "Aptos Bold";
        text-align: center;;
        color: #E3E3E3;}

    @media all and (max-width: 1024px)
        {
          .column {
            width: 100%;}

          #header-image {
            display: block;
            margin: auto;
            width: 80%;}

          #text-box {
              margin: 0px;
              padding-right: 20px;
              padding-left: 20px;
              padding-bottom: 20px;
              border: none;
              font-size: 20px;
              font-family: "Aptos Display";
              text-align: left;}

          #text-box-top {
              margin: 0px;
              padding-right: 20px;
              padding-left: 20px;
              padding-bottom: 20px;
              border: none;
              font-size: 20px;
              font-family: "Aptos Display";
              text-align: left;
              color: #E3E3E3;}

          #text-box-sm {
              margin: 0px;
              padding-right: 20px;
              padding-left: 20px;
              padding-bottom: 50px;
              border: none;
              font-size: 20px;
              font-family: "Aptos Display";
              text-align: left;}

          #text-box-title {
              border: none;
              font-size: 30px;
              padding-left: 20px;
              font-family: "Aptos Bold";
              text-align: left;}


          #text-box-title-top {
              border: none;
              padding-top: 15px;
              padding-left: 20px;
              font-size: 30px;
              font-family: "Aptos Bold";
              text-align: left;;}
          }

    }
